/*Dashboard*/
.dash-container {
  margin: 3rem;
  text-align: center;
  background-color: rgb(178, 213, 178);
  padding: 2rem;
  border-radius: 1rem;
  color: rgb(76, 88, 76);
  box-shadow: 3rem black;
}

button {
  background-color: rgb(109, 182, 109);
  border: none;
  padding: 5px;
  border-radius: 6px;
}

button:hover {
  background-color: rgb(240, 246, 240);
}

/*Project cards*/
.project-cards {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to the next line if needed */
    gap: 1rem;
    justify-content: center; /* Aligns items to the left-  flex-start */
    padding: 1rem;
}

.project-card {
    background-color: rgb(178, 213, 178);
    border: none;
    padding: 1rem;
    border-radius: 8px;
    min-width: 150px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex: 0 1 calc(25% - 1rem); /* Adjust width depending on layout */
}

/*Contact form*/
.contact-form {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 8px;
  background-color: rgb(240, 236, 236);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h3 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.25rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.form-input:focus {
  outline: none;
  border-color: rgb(178, 213, 178);
}

button[type="submit"] {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: rgb(178, 213, 178);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: rgb(116, 179, 116);
}

h3 {
  text-align: center;
  margin-top: 2rem;
  color: #444;
}
.error {
    color: rgb(182, 6, 6);
    font-size: 0.9rem;
    margin-top: -0.3rem;
    margin-bottom: 0.5rem;
}

.success {
    background-color: #d4edda;
    padding: 0.8rem;
    margin: 3rem;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    text-align: center;
}
/*Dark mode settings*/
.dark-theme .dash-container {
  background-color: darkseagreen;
  color: #e0e0e0;
}

.dark-theme button {
  background-color: #444;
  color: white;
}

.dark-theme button:hover {
  background-color: #666;
}

.dark-theme .project-card {
  color: #444;
}

.dark-theme .contacts {
  color: white;
}

